<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <meta name="viewport" content="width=device-width" />
  <title></title>
</head>

<body>
 
  <p>Dear {{ firstname }} {{ lastname }},</p>

  <p>Since our change of management in 2006, DriverWeb has expanded into a dedicated team
  of nine, made up of developers, designers, copywriters, animators and project managers
  who tailor projects to our clients' diverse needs and ensure that our ever expanding
  capabilities remain efficient and up to date. DriverWeb is committed to providing
  technology-based solutions that are at the forefront of technology, whilst saving our
  clientele time and money, and ensuring that their businesses run smoothly and
  effectively. We are proud to say that DriverWeb now maintains over 200 domain names and
  delivers in excess of 200 hosting packages.</p>

  <p>DriverWeb currently offers an extensive range of services, including:</p>

  <ul>
    <li>Website and custom app design and development</li>
    <li>Email hosting</li>
    <li>DNS hosting</li>
    <li>App hosting</li>
    <li>Cloud based solutions</li>
    <li>SSL certificates and dedicated IP addresses for website and email security</li>
    <li>Domain name registration and renewal</li>
    <li>Bulk email marketing software</li>
    <li>Security software</li>
  </ul>

  <p>For more information on any of these services, please visit <a href=
  "http://hut6.com.au/what-we-do">http://hut6.com.au/what-we-do</a></p>

  <p>In line with our continuous service improvement, we are eager to announce a new
  automated billing system for DriverWeb clients which will help to streamline the
  process. Instead of the slower, less efficient process of manual billing our new
  automated system will send out invoices one month before a service is due to expire,
  allowing you time to assess your partnership with us and for us to institute any
  changes that you may wish to make. Our new system will remove the opportunity for human
  error and we envisage our clients will find it less confusing and more straightforward.
  Automated billing will be introduced in March 2015 for all hosting services, SSL
  certificates and domain registration/renewal.</p>

  <p>What does this mean for you? For clients that hold multiple services with us, or elsewhere, now is a good time to review, transfer or remove any of these services, or change your billing
  cycle (for hosting only) to better align when payments will be due.</p>

  <p>Currently, your services with us are:</p>

  <ul>
    {% for service in services %}
      <li>{{service}}</li>
    {% endfor %}
  </ul>

  <p>Due to this streamlining of our systems, there will be a slight increase in the
  price of the packages that DriverWeb offers, as plans will have to be standardised. For
  more information on these changes, and to view our packages and pricing please view our
  list of services here: <a href=
  "http://hut6.com.au/hosting">http://hut6.com.au/hosting</a></p>

  <p>We pride ourselves on providing our clients with the best services available, and we
  are always pursuing new ways of ensuring that your information is even more secure with
  us. As such our domain register is one of the finite number that is auDa accredited
  (<a href="http://www.auda.org.au/about-auda/">http://www.auda.org.au/about-auda/</a>)
  and ISS accredited (Information Security Standard, <a href=
  "http://www.auda.org.au/policies/2013-03/">http://www.auda.org.au/policies/2013-03/</a>),
  ensuring that all of your information is, and will remain, safe and secure. We also use
  incredibly fast server hardware, with our systems including four quad core CPUs, four
  256GB SSD RAIDed drives and 32GB of RAM. Backups are made locally daily and kept for
  the previous two weeks, followed by monthly backups using R1Soft, which provides
  continuous data protection, data backup and recovery. Website hosting features 512MB of
  RAM; while app hosting features PHP opcode caching, one full core with 1024MB of RAM,
  with more cores made available upon request.</p>

  <p>While not wanting to overwhelm you with changes, we are excited to announce that in
  2015, DriverWeb will be undergoing a rebrand and will soon relaunch as Hut Six!
  (http://hut6.com.au/) Leaving the old DriverWeb brand and identity behind, we are
  moving into a new and exciting era, as we continue to expand and advance our business
  and its services.</p>

  <p>From all our staff we thank you for your business and look forward to continuing our
  partnership in 2015 and beyond. For any questions you may have, feel free to email us
  at info@dwd.com.au.</p>

  <p>Yours sincerely,</p>

  <p>The DriverWeb Team</p>
  
</body>
</html>
